.friend-row {
    transition: background-color 0.3s ease;
}

.friend-row:hover {
    background-color: #f8f9fa;
}

.friend-actions {
    margin-top: 10px;
}

.friend-actions form {
    display: inline-block;
    margin-right: 10px;
}

/* Add these styles to target the button classes */
.btn.btn-warning {
    background-color: #282878; /* Your desired color for "Send friendship" */
    color: white; /* Adjust text color for better contrast */
}

.btn.btn-danger {
    background-color: #692323; /* Your desired color for "Delete Friend" */
    color: white; /* Adjust text color for better contrast */
}

.btn.btn-primary {
    background-color: #58337a; /* Your desired color for "Send Message" */
    color: white; /* Adjust text color for better contrast */
}
