{% extends 'base.html' %}

{% block title %}
Посты
{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}


{% block body %}
<div class="container vk-container">
    <div class="vk-sidebar">
        </div>
    <div class="vk-content">
        <h2>News</h2>  <div class="vk-posts">
            {% for post in posts %}
                <div class="vk-post">
                    <div class="vk-post__avatar">
                        </div>
                    <div class="vk-post__info">
                        <a href="{{ url_for('user_page', current_user_id=post.user.id) }}" class="vk-post__author">{{ post.user.name }}</a>
                        <span class="vk-post__date">{{ post.date.strftime("%d %B %Y") }}</span>  <p class="vk-post__text">{{ post.text | truncate(150) }}</p>  <div class="vk-post__actions">
                            <div class="vk-post__actions">
    <a href="#" class="vk-action vk-action--like" onclick="increaseLike(this)">Like</a>
    <span class="like-count">0</span>
                                  <a href="/posts/{{post.id}}" class="vk-action vk-action--comment">Edit</a>
</div>

                        </div>
                    </div>
                    {% if post.image_path %}
                        <img src="{{ post.image_path }}" alt="Post Image" class="vk-post__image">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


    <script>$(window).on('load',function () {
     var current = location.pathname;
     console.log(current);
     $('#navbarSupportedContent ul li a').each(function(){
         var $this = $(this);
         // if the current path is like this link, make it active
         if($this.attr('href').indexOf(current) !== -1){
             $this.parent().addClass('active');
             $this.parents('.menu-submenu').addClass('show-dropdown');
            $this.parents('.menu-submenu').parent().addClass('active');
         }else{
             $this.parent().removeClass('active');
         }
   })
 });</script>

{% endblock  %}
